.singup-form-wrap {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.singup-form-wrap > button {
    margin-top: 10px;
    max-width: 150px;
}
